/*genral style*/

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: arial, tahoma, sans-serif;
}

a { color: #000; text-decoration: none; }

ul { list-style: none; }


@font-face {

  font-family: AmaticSC-Regular;
  src: url(../fonts/AmaticSC-Regular.ttf);
}

@font-face {

  font-family: Cormorant-Regular;
  src: url(../fonts/Cormorant-Regular.ttf);
}

.container
{
	width: 75%;
	margin: 0 auto;
}

.btn
{
	color: #fff;
	font-size: 17px;
	padding: 10px 15px;
	border-radius: 30px;
	display: inline-block;
	background-color: #81AE45;
	border: 2px solid #81AE45;
	text-transform: capitalize;
}

.btn:hover
{
	color: #81AE45;
	background: none;
	border: 2px solid #81AE45;
}

/*cont-det*/

.cont-det
{
	padding: 7px 0;
	background-color: #81AE45;
}

.cont-det .container 
{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.cont-det .item i,
.cont-det .item p { color: #fff; display: inline-block; }

.cont-det .item i { font-size: 14px; padding: 4px; }

.cont-det .item p { font-size: 14px; }

/*header*/

header .container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header .logo a
{
	display: block;
	color: #81AE45;
	padding: 20px 0;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

header label
{
	color: #fff;
	float: right;
	display: block;
	font-size: 30px;
	margin-top: 17px;
}

header label:hover { cursor: pointer; }


header input, header label { display: none; }

header input:checked ~ nav { display: block; }

header nav > ul { display: flex }

header nav > ul > li > a
{
	color: #555;
	display: block;
	font-size: 14px;
	padding: 20px 15px;
	text-align: center;
	text-transform: uppercase;
}

header nav > ul > li > a i { font-size: 15px; }

header nav ul > li ul li { display: block; }

header nav ul > li ul li a 
{ 
	color: #555;
	display: block;
	padding: 12px 15px;
	background-color: #fff
}

header nav ul li.nist-list-dad
{
	position: relative;
}

header nav ul li.nist-list-dad .nist-list 
{
	position: absolute;
	top: 40px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s, top 0.5s;
}

header nav ul li.nist-list-dad:hover .nist-list
{
	top: 60px;
	opacity: 1;
	z-index: 4;
	visibility: visible;
}

/*home*/

.home
{
	height: 45vh;
	position: relative;
	background-size: cover;
	background-position: 100%;
	background-image: url(../images/category/category-1.jpg); 
}

.home div
{
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home div p { font-size: 15px; margin-bottom: 10px; text-transform: uppercase; }

.home div h2
{
	font-size: 40px;
	text-transform: uppercase;
}

/*articles*/

.articles
{
	padding: 80px 0
}

.articles .container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.articles-content { width: 65% }

.articles-content .item { display: flex; margin-bottom: 40px; }

.articles-content .item .img { width: 45%; height: 300px; }

.articles-content .item .img img { width: 100%; height: 100%; }

.articles-content .item .item-desc { padding: 25px; width: 80%; }

.articles-content .item .item-desc span
{
	font-size: 14px;
	font-weight: bold;
}

.articles-content .item .item-desc h3
{
	margin: 15px 0;
	font-size: 23px;
}

.articles-content .item .item-desc p
{
	color: #aaa;
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
	margin-bottom: 25px;
}

/*aside*/

.aside
{
	width: 30%;
}

.aside > div { margin-bottom: 50px; }

.aside div h3 { margin-bottom: 20px; }

.aside .search-box { border: 1px solid #ddd; text-align: center; padding: 5px 0 }


.aside .search-box input
{
	width: 90%;
	border: none;
	outline: none;
	padding: 4px 7px;
	font-weight: bold;
}

.aside .search-box i
{
	color: #777;
	padding: 0 4px;
}

.aside .cat ul li
{
	padding: 10px 0;
	overflow: hidden;
	font-weight: bold;
	border-bottom: 1px solid #ccc5;
}

.aside .cat ul li span
{
	color: #bbb;
	float: right;
}

.aside .r-bolg .item
{
	display: flex;
	margin-bottom: 20px;
}

.aside .r-bolg .item .img
{
	width: 40%;
	height: 140px;
}

.aside .r-bolg .item .img img
{
	width: 100%;
	height: 100%;
}

.aside .r-bolg .item .item-desc
{
	width: 50%;
	padding: 10px;
}

.aside .r-bolg .item .item-desc h4
{
	margin-bottom: 15px;
}

.aside .r-bolg .item .item-desc div
{
	color: #aaa;
	font-size: 14px;
	display: inline-block;
}

.aside .tag span
{
	color: #888s;
	margin: 7px 3px;
	padding: 5px 7px;
	font-weight: bold;
	border-radius: 8px;
	display: inline-block;
	border: 1px solid #ddd8;
}

.aside .pg p
{
	color: #aaa;
	line-height: 1.5;
	font-weight: bold;
}

/*details*/

.details
{
	padding: 140px 0;
	position: relative;
	background-color: #eee5;
}

.details .details_content
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.details .details_content div { width: 23% }

.details .details_content div h4
{
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 20px;
}

.details .details_content div.about_site p
{
	line-height: 1.6;
	font-weight: bold;
	margin-bottom: 70px;
}

.details .details_content div.about_site ul
{
	display: flex;
}

.details .details_content div.about_site ul li
{
	font-size: 28px;
	margin: 0 20px;
}

.details .details_content div.sections ul li,
.details .details_content div.help ul li
{
	font-weight: bold;
	margin-bottom: 15px;
}

.details .details_content div.help ul li span
{
	padding-left: 20px;
}

.details .details_content div.question ul li
{
	font-weight: bold;
}

.details .details_content div.question ul li
{
	padding-left: 30px;
	margin-bottom: 15px;
	position: relative;
}

.details .details_content div.question ul li i
{
	position: absolute;
	top: 2px;
	left: 0;
}

.details .up
{
	padding: 15px 19px;
	position: absolute;
	top: -50px;
	left: 50%;
	border-radius: 60%;
	display: inline-block;
	background-color: #81AE45;
	transform: translate(-50%, 50%);
}

.details .up i
{
	color: #fff;
	display: block;
	font-size: 23px;
	position: relative;
	top: 0;
	animation: moveUp 0.8s infinite;
}

@keyframes moveUp
{
	to
	{
		top: -8px;
	}
}


footer
{
	padding: 60px;
	text-align: center;
	background-color: #eee5;
}

footer p { font-weight: bold; }
